body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 1em;
}

div {
  background-color: #ffff00;
  border-color: #000000;
  border-style: solid;
}
